DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
FRONTEND_AUTHORIZED_URL="http://localhost:3000"

JWT_ACCESSTOKEN_SECRET="youraccesstokensecret"

#"expiresIn" should be a number of seconds or string representing a timespan eg: "1d", "20h", 60
JWT_EXPIRES_IN="2d"

AUTHSCH_CLIENT_ID="yourclientid"
AUTHSCH_CLIENT_SECRET="yourclientsecret"
